---
layout: default
---
<section>
    <div>
        <div>
            <section>
                <div>
                    <a href="/" rel="nofollow">Home</a>
                    <br>
                    <h4>分类:&nbsp;&nbsp{{ page.category }}</h4>
                </div>
                {% for post in site.categories.[page.category] %}
                <li>
                    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                    <h2>
                        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                    </h2>
                </li>
                {% endfor %}
            </section><!-- //violet-post -->
        </div>
    </div>
</section><!-- //content -->
